.page-with-bg {
  position: relative;
  min-height: 100vh;
  font-family: 'Cairo', sans-serif;
  z-index: 0;
  overflow: hidden;
}

.page-with-bg::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: url('../src/assets/imgs/—Pngtree—islamic\ pattern\ white\ background_1917017.png');
  background-size: cover;
  background-position: center;
  opacity: 0.4; /* adjust as needed */
  z-index: -1; /* keep it behind content */
}

.form-control
{
    margin-top: 10px !important;
}

.page-link {
  color: #0D4E73 !important;
  background-color: #fff !important;
  border-color: #0D4E73 !important;
}

.page-item.active .page-link {
  background-color: #0D4E73 !important;
  color: #fff !important;
  border-color: #0D4E73 !important;
}

.page-link:hover {
  background-color: #0D4E73 !important;
  color: #fff !important;
}

.page-item.disabled .page-link {
  color: #999 !important;
  border-color: #999 !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  background-color: #999;
}

.table-dark
{
  border-color: #0D4E73 !important;
  background-color: #0D4E73 !important;
  --bs-table-bg: #0D4E73 !important;
}